# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
GithubTest.iml
app/.gitignore
app/app.iml
app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/androidTest/
app/src/main/AndroidManifest.xml
app/src/main/res/
app/src/test/
build.gradle
build/
gradle.properties
gradle/
gradlew
gradlew.bat
local.properties
settings.gradle
